#image_container {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#image_info {
    width: 90%;
    margin: auto;
    box-shadow: 5px 5px 5px 5px;
    border-radius: 20px;
}

img.image {
    width: 100%;
}

p.info {
    text-align: center;
    line-height: 1.3;
    font-style: italic;
    font-weight: bold;
    margin: 0;
    font-size: 30px;
}

@media(min-width: 800px) {
    #image_container {
        width: 25%;
        float: left;
    }
}